*{padding:0px;
  margin:0px; 
  box-sizing:border-box; 
  } 
  

.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (42).jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
} 



@media (min-width: 768px) {
  .view {
      overflow: visible;
     
  }
}
.top-nav-collapse {
  background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #4285F4;
  }

  @media only screen and(max-width:375px){ 
    .row{ 
      flex-direction: column; 
      justify-content: space-evenly;
      
  } 

  .col-sm-6{ 
    justify-items: center;
  }
}
}